<configuration>
	<dllmap dll="webp_codec_native" target="native/webp_codec_native.dll" os="windows" cpu="x86-64" />
	<dllmap dll="webp_codec_native" target="libwebp_codec_native.dylib" os="osx" cpu="x86-64" />
	<dllmap dll="webp_codec_native" target="libwebp_codec_native.so" os="linux" cpu="x86-64" />
</configuration>
